@import 'reset.scss';
$black:#000000;
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style:normal;
}
.navbar{
    background-color: #ffffff;
    padding:0px 50px 0px 100px;
}
.custom{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    height: 60px;
    align-content: center;
}
.nav-link:hover{
    color:rgba(0, 175, 64, 1);
    background-color: rgba(0, 175, 64, 0.15);
    border-bottom: 3px solid ;
    transition: 0.1s ease;
}
.lion-title h1{
    width: 400px;
    font-weight: 700;
    font-size: 57px;
    color: #ffffff;
    margin-left: 140px;
    line-height: 69.48px;
    position: relative;
    top: 100px;
}
.row{
    margin-bottom: 20px;
}
.cards{
    position: relative;
    top: 150px;
    margin-top: 40px;
    width: 100%;
}
.event-cards{
    margin-top: 150px;
}
.contentbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    height: 256px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.09); 
    margin-bottom: 20px;
}
.contentbox .top{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.top img {
    width: 30px;
    margin-right: 10px;
}
.contentbox p{
    padding: 5px;
    color: #343434;
    font-size: 13px;
    font-weight: 500;
}
.contentbox p img{
    margin-right: 6px;
}
.sub{
    color: #3D3D3D;
    margin:50px 0px 30px 0px;
    font-size: 26px;
    font-weight: 600;
}

.event{
    padding: 0;
    height: 100vh;
}
.event-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view{
    background-color: #00AE42;
    font-weight: 400;
    color: #ffffff;
    height: 45px;
    width: 90px;
    border-radius: 40px;
}

.view:hover{
    background-color:#005d24;
    color: #ffffff;

}
.ev-comp{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    align-items: center;
}
.ev-comp p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0%;
}
.ev-cont h5{
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
    width:320px;
    margin: 10px 30px;
    padding-right: 20px;
}
.ev-cont p{
    padding: 0px 30px;
    font-size: 14px;
    font-weight: 400;
    color:#666666;
    overflow: hidden;

}
.more{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more img{
    width: 30px;
    padding: 10px;
    border-radius:60%;
    background-color: #E0E0E0;
}
.heading{
    margin:50px 0px 30px 0px;
    font-size: 31px;
    font-weight: 700;
    text-align: center;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.animal{
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    background-color: #00AE42;
    color: #ffffff;
    border-radius: 20px;
    margin-bottom: 30px;
}
.animal:hover{
    background-color:#005d24;
    color: #ffffff;
}
.animal-comp img{
    border-radius: 50%;
    transition: 0.3s ease;
}
.animal-comp img:hover{
    transform: scale(1.05);
}
.ev-cont .an-t{
    color: $black;
    margin: 5px;
    font-size: 16px;
    font-weight: 700;
}
.items{
    margin:0px 100px 0px 100px;
}
.blue{
    background-image: url(assets/background-img.png);
}
.tlink{
    color:rgba(255, 255, 255, 0.53);
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: center;
}
.tlink:hover{
    color:#ffffff;
    border-bottom: #ffffff solid;
    transition: 0.1s ease;
}
.items img{
    margin-right: 10px;
}
.bg-item img{
    margin-top: 20px;
    width:320px;
    height: 180px;
}
.bg-item h5{
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
    color:#FFFFFF
}
.bg-item p{
    width:320px;
    text-align: justify;
    height: 60px;
    overflow-x: scroll;
    scrollbar-width: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color:#FFFFFF;
    margin-bottom: 30px;
}
.quote{
    display:flex;
    justify-content: flex-start;
}
.textbox{
    padding: 0px;
    width: 1100px;
    height:360px;
    background-color: #00AE42;
    margin:150px 30px;
    border-radius: 30px;
}
.photo{
    display: flex;
    justify-content:space-between;
}
.textbox img{
    margin-top:-20px;
}
.textbox .photo p{
    height: fit-content;
    margin:30px 30px 0px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #FFFFFF;    
}
.name{
    margin: 40px 30px 0px 0px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: #FFFFFF;
}
.name h4{
    font-size: 24px;
}
.name p{
    font-size: 16px;
}
.part{
    background-image: url(assets/background2.jpg);
    padding-bottom: 50px;
}
.grid-container{
    display: grid;
    align-items: center;
    margin-right: 30px;
}
.circle{
    grid-column: 1;
    position: relative;
    justify-content: center;
    margin-left: 50px;
    width:600px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 50%;
    color: #1A4311;

    h3{
    font-size: 31px;
    font-weight: 700;
    line-height: 37.79px;
    text-align: left;
    }
    p{
    width: 370px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    letter-spacing: 0.04em;
    text-align: left;
    }
    button{
        align-items: center;
        margin-top: 30px;
        border:1px solid #00AE42;
        border-radius: 20px;
        color: #00AE42;
        &:hover{
            background-color: #00AE42;
            color: #FFFFFF;
            .pic{
                filter: contrast(0%) brightness(1000);
            }
        }
    }
    .pic{
        width:15px;
        margin-left: 10px;
    }
}
.img-container{
    display: flex;
    align-items: center;
    position: absolute;
    left: 45%;
    gap: 20px;
}

.img2{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: space-between;
    img{
        width:fit-content;
    }
}
.flex-container{
    display: flex;
    justify-content: center;
}
.b-details{
    display: flex;
    justify-content: center;
    background-color: #F4F9FF;
    width: fit-content;
    .b-items{
        
        width: 300px;
        height: 130px;
        padding:20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            display: flex;
            align-items: center;
        }
        p{
            margin-left: 4px;
            font-size: 14px;
        }
        h3{
            font-size: 44px;
            font-weight: bold;
            margin-bottom: 4px;
        }
    }
    .b-blue{
        background-color: #2D71C51F;
        border: 1px solid #5784BB;
        color: #2D71C5;
    }
    .b-green{
            border: 1px solid #6BBB57;
            color: #6BBB57;
    }
}
.one{
    width:360px;
    height:380px;
    background-image: url("assets/footer-image1.png");
}
.two{
    width:360px;
    height:380px;
    background-image: url("assets/footer-image2.png");
}
.three{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:360px;
    height:380px;
    background-color: #094A8B; 
    padding: 8px;
    color: #ffffff;
    h4{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 4px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 4px;
    }
}
.four{
    width:360px;
    height:380px;
    background-image: url("assets/footer-image3.png");
}
.division{
    display: flex;
    padding: 10px;
    align-items: end;
    p{
        margin-bottom: 8px;
        margin-left: 3px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
    }
}